<% metaphors.each do |metaphor| %>
<li>
    <div class="col-sm-1 col-xs-2 no-padding">
            <%= image_tag metaphor.user.image_url(:thumb) %>
    </div>
    <div class="col-sm-11 col-xs-10">
        <span class="user"><%= link_to metaphor.user.name, metaphor.user %></span>
        <span class="timestamp">
            Created <%= time_ago_in_words(metaphor.created_at) %> ago.
        </span>
        <span class="content"><%= metaphor.content %></span>
        <span class="count">
            <%= metaphor.comments.count %> comments / 
            <%= metaphor.likes_count %> like. 
        </span>

        <% if current_user == metaphor.user %>
            <%= link_to "Delete", metaphor, method: :delete, data: { confirm: "You sure?"} %>
        <% end %>
    </div>   
    <span>
        <% if logged_in? %>
            <%= render 'likes/like_form', metaphor: metaphor %>
        <% end %>
    </span>
</li>
<% end %>