<% topics.each do |topic| %>
<li> 
    <span class="title h1"><%= topic.title %></span>
    <span class="user">
        Created by <%= link_to topic.user.name, topic.user %></span>
    <span class="timestamp">
        Created <%= time_ago_in_words(topic.created_at) %> ago. 
    </span>
    <span class="count">
        <%= topic.metaphors.count %> metaphors / 
        <%= topic.comments.count %> comments 
    </span>
    <%= link_to "Show Detail", topic_path(topic), class: "btn btn-default btn-xs" %>
</li>
<% end %>