<div class="topics-detail">
    <span class="title"><%= @topic.title %></span>
    <span class="content"><%= @topic.content %></span>
    <span class="link">参考リンク： <%= link_to @topic.link %></span>
    <span class="category">Category: <%= @topic.category %></span>
    <span class="user">
        Created by <%= link_to @topic.user.name, @topic.user %></span>
    <span class="timestamp">
        Created <%= time_ago_in_words(@topic.created_at) %> ago.
        <% if current_user == @topic.user %>
            <%= link_to "delete", @topic, method: :delete, data: { confirm: "You sure?"} %>
            <%= link_to "Edit topic" , edit_topic_path(@topic) %>            
        <% end %>
    </span>
    <span class="category">Official flag: <%= @topic.officialflag %></span>
</div>