<div class="topics-detail">
    <span class="title h1"><%= @topic.title %></span>
    <span class="content h3"><%= @topic.content %></span>
    <span class="link">参考リンク： <%= link_to @topic.link, @topic.link, :target=>["_blank"] %></span>

    <span class="category">Category: <%= @topic.category %></span>
    <span class="user">
        Created by <%= link_to @topic.user.name, @topic.user %></span>
    <span class="timestamp">
        Created <%= time_ago_in_words(@topic.created_at) %> ago.
    </span>
    <span class="edit-button">
        <% if current_user == @topic.user %>
            <%= link_to "Delete", @topic, method: :delete, class: "btn btn-warning btn-xs", data: { confirm: "You sure?"} %>
            <%= link_to "Edit topic" , edit_topic_path(@topic), class: "btn btn-warning btn-xs" %>            
        <% end %>
    </span>

</div>

<div class="metaphor_form">
<% if logged_in? %>
    <%= render 'shared/metaphor_form' %>
<% end %>
</div>

<ol class="metaphors">
    <%= render 'metaphors/list' , metaphors: @metaphors %>
</ol>
