<section class="user_info">
    <% if @user.image? %>
        <%= image_tag @user.image_url, :size => '200x200' %>
    <% else %>
        <%= image_tag("/uploads/user/image/default/default.jpg") %>
    <% end %>
    <div class="user"><%= @user.name %></div>
    LEVEL<br /><div class="user_level"><%= @user_level %></div>
    好きなメタファ<br /><div class="favo_phrase"><%= @user.favo_phrase %></div>
 
    <% if current_user != @user %>
        <%= render 'follow_form' if logged_in? %>
    <% else %>
        <p class="h4">
            <%= link_to "Edit your profile" , edit_user_path(@user) %>
        </p>
    <% end %>
</section>
