<section class="user_info">
    <%= image_tag @user.image_url, :size => '200x200' %>
    <div class="user"><%= @user.name %></div>
    <div class="favo_phrase"><%= @user.favo_phrase %></div>
      
    <% if current_user != @user %>
        <%= render 'follow_form' if logged_in? %>
    <% else %>
        <p class="h4">
            <%= link_to "Edit your profile" , edit_user_path(@user) %>
        </p>
    <% end %>
</section>
