<div class="row">
    <aside class="col-md-4">
        <%= render 'user_info' %>
    </aside>
    <div class="col-md-8">
        <h3>Following(<%= @users.count %>)</h3>
        <% if @users.any? %>
            <ol class="follow_list"> 
                <% @users.each do |user| %>
                    <li>
                        <div class="row no-margin">
                            <%= image_tag user.image_url(:thumb) %>
                            <span class="user"><%= link_to user.name, user %></span><br />
                            <span class="content"><%= user.favo_phrase %></span>
                        </div>
                    </li>
                <% end %>
            </ol>    
        <% end %>
    </div>
</div>