<div class="row">
  <aside class="col-md-4">
    <%= render 'user_info' %>
  </aside>
  <div class="col-md-8">
    <%= link_to "Following" , followings_user_path(@user) %>:
    <%= @user.following_users.count %>
    <%= link_to "Follower" , followers_user_path(@user) %>:
    <%= @user.follower_users.count %>
  </div>
</div>